html {
    height: 100%;
}

body {
    height: 100%;
    font-size: 1rem;
    color: #ffffff;
    background-color: black;

}

.full-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;



}

.header-logo img {
    justify-content: center;
    align-items: center;
}


footer {
color: #c2c2c2;

}