body {
    color: #ffffff;
    font-size: $base-font;
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
}

.select-option {
   font-size: $base-font;

}

footer {
    font-size: $base-font;
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
}