html {
    height: 100%;
}

body {
    height: 100%;
    background-color: $base-bg-color;
}

.full-page {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading { 
    position: absolute;
    top: 54vh;
    right: 45vw;
}

.articles {
    width: 100%;
    display: grid;
// grid-template-columns: repeat(3, 1fr);
grid-template-columns: 100%;
// grid-template-rows: repeat(12, 20px);

grid-gap: 5px;
}

.article {
    // height: 30vh;
    // padding: 20px;
    position: relative;
    height: 300px;
}

.article-info {
    color:white;
    text-decoration: none;
    background: rgba(0,0,0,0.6);
    text-align: left;
    position: absolute;
    bottom: 0px;
    padding: 0.625rem;
  }

.header-logo img {
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: center;
}

.select-option {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;


}


footer {
    display:flex;
    color: #c2c2c2;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;

}

