html {
    height: 100%;
}

body {
    height: 100%;
    background-color: $base-bg-color;
}

.full-page {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading { 
    position: absolute;
    top: 51vh;
    right: 45vw;
}

.articles {
    width: 100%;
    display: grid;
// grid-template-columns: repeat(3, 1fr);
grid-template-columns: 100%;
// grid-template-rows: repeat(12, 20px);

grid-gap: 5px;
}

.article {
    // height: 30vh;
    // padding: 20px;
    position: relative;
    height: 300px;
}

.article-info {
    color:white;
    text-decoration: none;
    background: rgba(0,0,0,0.6);
    text-align: left;
    position: absolute;
    bottom: 0px;
    padding: 0.625rem;
  }

.logo {
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: center;
    height: auto;
    width: 220px;
    transition: $transition-speed;
}

.logo-header {
    transition: $transition-speed;
    &.is-active {
        // display: flex;
        text-align: center;
        .logo {
            width: 150px;
        }
    }
}

// .header-logo-moving {


// }

// @keyframes logo-move {
//     from { top: 50%; 
//       left: 50%;
//       transform: translate(-50%, -50%);
//        }
//     to   { 
//        top: 0;
//       left: 50%;
//     }
//   }

// .logo-is-moving {
//  animation-name: logo-move;

//  animation-duration: 10s; /* or: Xms */
//  animation-iteration-count: 10;
//  animation-direction: alternate; /* or: normal */
//  animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
//  animation-fill-mode: forwards; /* or: backwards, both, none */
//  // animation-delay: 2s;
//   transform: scale(.7, 1.1);
//   height: 150px;
// width: 150px;
// }  


.select-option {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    display:flex;
    color: #c2c2c2;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
}

