html {
    height: 100%;
}

body {
    height: 100%;
    background-color: $base-bg-color;
}

.full-page {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading { 
    position: absolute;
    top: 54vh;
    right: 45vw;
}

.article-link {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.header-logo img {
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: center;
}

.select-option {
    text-align: center;
    margin-top: 20px;

}


footer {
    display:flex;
    color: #c2c2c2;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;

}

